{
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "semi": false,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "proseWrap": "preserve"
}
