{
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "semi": false,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ],
  "proseWrap": "preserve"
}
